<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Plants</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1 class="Title">List of Plants</h1>
  <ul>
    <% plants.forEach(plant => { %>
      <li>
        <a href="/detail?id=<%= plant.id %>" ><%= plant.name %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>