<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Books</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container"></div>
  <h1>List of Books</h1>
  <ul>
    <% if (books.length > 0) { %>
      <% books.forEach((book) => { %>
        <li>
          <a href="/book/<%= book._id %>"><%= book.title %></a>
        
        </li>
      <% }); %>
    <% } else { %>
      <li>No Books.</li>
    <% } %>
  </ul>
</div>
</body>
</html>
